<app-navigationbar>
    <h1 class="page-title"> {{ homepageTitle }} </h1>
    <h2 class="title-description"> {{ homepageTitleDescription }}</h2>
    <h3 class="extra-description"> {{ extraTitleDescription }}</h3>
</app-navigationbar>
<h1 class="intro-text">{{ homepageIntro }}</h1>

<picture class="picture-container">
    <figure>
        <img src="/assets/images/Screenshot_9.png" alt="Voorzitter">
        <figcaption>Voorzitter <br> Brent Cornet</figcaption>
        <a class="telnr" href="tel:+">voorzitter telnr</a>
    </figure>
    <figure>
        <img src="/assets/images/Screenshot_9.png" alt="Ondervoorzitter">
        <figcaption>Ondervoorzitter <br> Yorre Bultynck</figcaption>
        <a class="telnr" href="tel:+">ondervoorzitter telnr</a>
    </figure>
    <figure>
<img src="/assets/images/Screenshot_9.png" alt="Doopmeester">
<figcaption>Doopmeester <br> Wout nogiets</figcaption>
    <a class="telnr" href="tel:+">Doopmeester telnr</a>
    </figure>
</picture>µ
