<app-navigationbar>
    <h1 class="page-title"> {{ homepageTitle }} </h1>
    <h2 class="title-description"> {{ homepageTitleDescription }}</h2>
    <h3 class="extra-description"> {{ extraTitleDescription }}</h3>
</app-navigationbar>
<h1 class="intro-text">{{ homepageIntro }}</h1>
<picture class="picture-container">
    <figure>
        <img src="/assets/images/Screenshot_9.png" alt="Voorzitter">
        <figcaption>
            <h3>
                Voorzitter <br> Brent Cornet
            </h3>
        </figcaption>
        <div class="tel-container">
            <a class="telnr" href="tel:+">voorzitter telnr</a>
        </div>
    </figure>
    <figure>
        <img src="/assets/images/Screenshot_9.png" alt="Ondervoorzitter">
        <figcaption>
            <h3>
                Ondervoorzitter <br> Yorre Bultynck
            </h3>
        </figcaption>
        <div class="tel-container">
            <a class="telnr" href="tel:+">ondervoorzitter telnr</a>
        </div>
    </figure>
    <figure>
        <img src="/assets/images/Screenshot_9.png" alt="Doopmeester">
        <figcaption>
            <h3>
                Doopmeester <br> Wout nogiets
            </h3>
        </figcaption>
        <div class="tel-container">
            <a class="telnr" href="tel:+">Doopmeester telnr</a>
        </div>
    </figure>
</picture>
<div class="footer-container">
    <div>
        <h1 class="footer-title-container">
            Bierkultuur
        </h1>
    </div>
    <div>
        <h3 class="details-container">
            Pleinlaan 2 <br>
            1050 Brussel (Elsene) <br>
            <a href="tel:+">some phone number</a>
        </h3>
    </div>
    <picture class="social-media-container">
        <!-- TODO: make a separate component for each social media so you can inject it where you need it (inject here and in navbar)-->
        instagram; flickr, fb
    </picture>
</div>