* {
  border: 1px solid red;
}

.navbrand {
  width: 100%;
}

nav {
  display: none;
}

nav ul {
  list-style: none;
  display: block;
  text-align: center;
}

nav li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle {
  display: none;
}
