* {
  border: 1px solid red;
}

.navigationbar {
  display: flex;
  position: relative;
  justify-content: space-between;
}

nav {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  margin: 0;
}

nav ul {
  list-style: none;
  display: block;
  text-align: left;
}

nav li {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle {
  display: none;
}

img {
  width: 15vw;
  height: auto;
}

.navbar-brand {
  display: flex;
}
