<nav>
  <ul>
    <li>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active">
        home
    </a>
    </li>
    <li>
      <a [routerLink]="['/about-us']" routerLinkActive="router-link-active">
        over ons
      </a>
    </li>
    <li>
      <a [routerLink]="['/contact']" routerLinkActive="router-link-active">
        contact
      </a>
    </li>
    <li>
      <a [routerLink]="['/board']" routerLinkActive="router-link-active">
        bestuur
      </a>
    </li>
    <li>
      <a [routerLink]="['/calendar']" routerLinkActive="router-link-active">
        kalender
      </a>
    </li>
    <li>
        <a [routerLink]="['/events']" routerLinkActive="router-link-active" >
          events
        </a>
    </li>
  </ul>
</nav>
